# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
dist/
build/
.DS_Store

# Logs
*.log
nohup.out

# Large model files (optional, but recommended if you don't want them on GH)
# models/acne_image_model.h5
